# Jaringan & Web Server
aiohttp
httpx
requests
websockets
Flask
Werkzeug
python-dotenv

# Integrasi AI & Google (Tanpa biner grpcio)
google-genai
google-generativeai
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
groq
protobuf>=4.25.0

# Otomatisasi & Media (YouTube/Discord)
discord.py==2.7.1
yt-dlp
youtube-search-python
ytmusicapi
innertube
chat-downloader
pytchat
beautifulsoup4

# Utilitas Asinkronus & Data Ringan
aiofiles==25.1.0
aiohappyeyeballs
aiosignal
annotated-types
anyio
attrs
audioop-lts
autopep8
black
blinker
certifi
charset-normalizer
click
colorama
colorlog
colorthief
deep-translator
distro
docstring_parser
emoji
frozenlist
h11
h2
hpack
httpcore
httplib2
hyperframe
idna
isodate
itsdangerous
Jinja2
MarkupSafe
mediate
more-itertools
multidict
mutagen
mypy_extensions
packaging
pathspec
platformdirs
propcache
proto-plus
pyasn1
pyasn1_modules
pycodestyle
pycountry
pycparser
pyparsing
pytokens
pytz
requests-toolbelt
rfc3986
roster
six
sniffio
soupsieve
spark-parser
speedtest-cli
tenacity
tqdm
typing-inspection
typing_extensions
uncompyle6
uritemplate
urllib3
websocket-client
xdis
yapf
yarl
